################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AutomationFramework example v1/AutomationFramework example v1/bin/Debug
